@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Manga List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">Create</a>
        </div>
    </div>
</div>

<table class="table table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>Manga Name</th>
            <th>Display Order</th>
            <th>Date Created</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.OrderID</td>
                <td>@obj.CreatedDateTime</td>
                    <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-action="Edit" asp-controller="Category" asp-route-id="@obj.Id">Edit</a> &nbsp;|&nbsp; <form asp-controller="Category" asp-action="DeletePost" asp-route-id="@obj.Id" method="post"><a onclick="this.parentElement.submit()" class="text-danger" style="text-decoration:underline;" id="customDeletebtn">Delete</a></form>
                </div>
                    </td>
            </tr>
        }
    </tbody>
</table>